@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chilanka&display=swap');

h1, h2, h3, nav{
  font-family: 'Chilanka', cursive;
}

.textoC{
 color:#3e432e;
  
}

footer{
  font-family: 'Architects Daughter', cursive;
  background-color: #a7d129;
  /*background-color: #e3f2fd;*/
  
}
#top3P{
  color:#616f39;
}
