@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chilanka&display=swap');

h1, h2, h5, nav{
  font-family: 'Chilanka', cursive;
}

footer, p{
  font-family: 'Architects Daughter', cursive;
}

.cancionN{
  font-family: 'Architects Daughter', cursive;
  font-size: x-large;
  font-weight: bold;
}
